{% extends "base.html" %}
{% block main_content %}

    <h4>Manage Room: {{ room.title }}</h4>

    <div class="room-actions">
        <form method="post" action="">
            {% csrf_token %}
            <h6>Add Member</h6>
            <input type="hidden" name="action" value="add_member">
            <div class="field label border round fill small">
                <input type="number" id="user_id_add" name="user_id">
                <label for="user_id_add">User ID</label>
                <span class="helper">Enter the ID of the user to add</span>
            </div>
            <button class="small small-elevate" type="submit">Add Member</button>
        </form>

        <form method="post" action="">
            {% csrf_token %}
            <h6>Remove Member</h6>
            <input type="hidden" name="action" value="remove_member">
            <div class="field label border round fill small">
                <input type="number" id="user_id_rm" name="user_id">
                <label for="user_id_rm">User ID</label>
                <span class="helper">Enter the ID of the user to remove</span>
            </div>
            <button class="small small-elevate" type="submit">Remove Member</button>
        </form>

        <form method="post" action="">
            {% csrf_token %}
            <h6>Edit Room Title</h6>
            <input type="hidden" name="action" value="edit_title">
            <div class="field label border round fill small">
                <input type="text" id="title" name="title">
                <label for="title">New Title</label>
                <span class="helper">Specify the new title for the room</span>
            </div>
            <button class="small small-elevate" type="submit">Update Title</button>
        </form>

        <form class="link-gen" method="post" action="">
            {% csrf_token %}
            <h6>Create Invite Link</h6>
            <div class="field border round fill small">
                <input type="text" id="invite_link" name="invite_link" value="{{ room.invitelink.link }}" readonly>
            </div>
            <input type="hidden" name="action" value="create_invite_link">
            <button class="small small-elevate" type="submit">Generate Link</button>
            <button type="button" class="small small-elevate" onclick="copyLink()" id="copy-link">Copy Link</button>
        </form>
    </div>
    <style>
        .room-actions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }

        h6 {
            margin-top: 0;
            font-size: medium;
        }

        h4 {
            margin-bottom: 10px
        }

        #copy-link {
            cursor: pointer;
            outline: none;
        }
    </style>
    <script>
        function copyLink() {
            console.log("ok")
            navigator.clipboard.writeText("{{ room.invitelink.link }}").then(function () {
                console.log('Link copied to clipboard');
            }, function (err) {
                console.error('Failed to copy link to clipboard', err);
            });
        }
    </script>
{% endblock %}